img{
    width: 100%;
    height: auto;
}

.none{
    display: none;
}

:root{
    --genreColor : #e8a02b;
    --genreColorRotate : 0deg;
    --genreColoropa : rgb(232, 160, 43, 0.5);
}

body{
    color:#535353!important; 
    font-family: 'Noto Sans JP', sans-serif;
}

@mixin pc {
    @media (min-width: (700px)) {
        @content;
    }
} 

.starArea{
    display: flex;
    justify-content: space-around;
    img{
        width: 1em;
        height: auto;
    }
}

.gm-ui-hover-effect{
    transform: translateX(100vh);
}

#mainHeader{
    display: none;
}

#mainMain{
    max-width: 400px;
    @include pc{
        max-width: initial;
    }
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
}

#googlemap{
    display: block;
    width: 100%;
    height: 100%;
    .pinPopup{
        text-align: center;
        padding: 1em;
        line-height: 1.7;
        >img{
            display: inline-block;
            width: 50%;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            background-color: aqua;
            color: white;
            overflow: hidden;
        }
        h3{
            font-weight: bold;
            font-size: 1.5em;
            color: var(--genreColor);
            margin-bottom: 0.5em;
        }
        .genre{
            margin-bottom: -0.2em;
            margin-top: 1em;
        }
        .cost{
            padding-top: 0.6em;
            color: #BCBCBC;
        }
        .time{
            padding-bottom: 0.6em;
            color: #BCBCBC;
        }
        .starArea{
            justify-content: space-between;
            width: 60%;
            margin: auto auto;
            img{
                width: 1.3em;
            }
        }
        button{
            border: none;
            background: none;
            font-size: 1.2em;
            display: block;
            padding-top: 0.6em;
            width: 100%;
            margin-top: 2em;
            color:#8E8E8E;
        }
    }
}

#global-setting{
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    padding: 0.5em;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    background: white;
    width: 3.5rem;
    @include pc{
        right: initial;
        left: 1em;
    }
    img{
        font-size: 2em;
    }
}
#global-setting-panel{
    width:100%;
    background-color:white;
    position:absolute;
    bottom:0;
    border-radius:40px 40px 0 0;
    padding:2em 1.3em 1em 1.3em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow: gray 0 0 5px;
    overflow: hidden;
    @include pc{
        width: 400px;
        height: 80%;
        bottom: 0;
        top: 0;
        right: 5%;
        margin: auto;
        align-items: center;
        border-radius:40px;
    }
    header {
        display: grid;
        padding-bottom: 0.8em;
        font-size: 2em;
        grid-template: 
            "back title check" auto
            /10% 1fr 10%;
        h2{
            grid-area: title;
            text-align: center;
            font-weight: bolder;
        }
        button{
            border: none;
            background: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5em;
            img{
                width: 1em;
            }
        }
        .back{
            grid-area: back;
        }
        .check{
            grid-area: check;
        }
    }
    dl{
        text-align: center;
        margin: 2em auto;
        color: #535353;
        overflow-y: scroll;
        @include pc{
            height: 82%;
        }
        dt{
            margin-bottom: 1em;
            font-weight: bold;
            color:#535353;
            &.yyheight{
                line-height: 1.8;
            }
        }
        dd{
            &.range{
                margin-bottom: 1.5em;
                input{
                    width: 100%;
                }
                span{
                    display:inline-block;
                    position: relative;
                    padding: 7px 10px;
                    min-width: 120px;
                    max-width: 100%;
                    background: var(--genreColor);
                    margin-bottom: 2em;
                    color: white;
                    text-align: center;
                    border-radius: 4px;
                    color: white;
                    margin: initial auto;
                    
                    &::before{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -15px;
                        border: 15px solid transparent;
                        border-top: 15px solid var(--genreColor);
                    }
                }
            }
            &.toggle{
                display: flex;
                justify-content: space-around;
                input{
                    display: none;
                }
                label{
                    cursor: pointer;
                    border-radius: 55px;
                    padding: 0.7em 1em;
                    border: 1px solid var(--genreColor);
                    &.active{
                        color: white;
                        background: var(--genreColor);
                    }
                    img{

                    }
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }
}

#searchPanel{
    width:100%;
    background-color:white;
    position:absolute;
    bottom:0;
    border-radius:40px 40px 0 0;
    padding:2em 1.3em 1em 1.3em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow: gray 0 0 5px;
    overflow: hidden;
    @include pc{
        width: 400px;
        height: 80%;
        bottom: 0;
        top: 0;
        right: 5%;
        margin: auto;
        display: flex;
        align-items: center;
        border-radius:40px;
    }
    >section{
        transition: height 0.5s ease-in-out;
        height: 100%;
        width: 100%;
        header {
            display: grid;
            padding-bottom: 0.8em;
            font-size: 2em;
            grid-template: 
                "back title check" auto
                /10% 1fr 10%;
            h2{
                grid-area: title;
                text-align: center;
                font-weight: bolder;
            }
            button{
                border: none;
                background: none;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5em;
                img{
                    width: 1em;
                }
            }
            .back{
                grid-area: back;
            }
            .check{
                grid-area: check;
            }
        }
    }
    #genre-panel{
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li {
                flex-basis: calc(100% / 3 - 1em);
                margin-bottom: 1em;
                button {
                    width: 100%;
                    border: none;
                    background: none;
                    p{
                        margin-top: 1rem;
                        font-size: 1em;
                    }
                }
            }
        }
    }
    #list-panel{
        ul{
            height: 35vh;
            overflow-y: scroll;
            @include pc{
                height: 82%;
            }
            li{
                >div{
                    font-size: 0.8em;
                    align-items: center;
                    line-height: 1.5;
                    padding: 1em 0;
                    border-bottom: 1px solid gray;
                    display: grid;
                    grid-template: 
                        "photo header" auto
                        "photo metas" auto
                        /30% 1fr;
                    grid-gap: 0.5em;
                    cursor: pointer;
                    .header{
                        grid-area: header;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        margin-left:0.8em;
                        .genre{
                            background-color: var(--genreColor);
                            color: white;
                            padding: 0.2em 0.4em;
                            box-sizing: border-box;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            flex: 0 0 auto;
                            text-align: center;
                            margin-right: 0.5em;
                            width: 5em;
                            justify-content: center;
                            height:3.5em;
                            font-size: 1em;
                        }
                        h3{
                            font-size: 1.2em;
                            flex: 0 1 auto;
                            overflow: hidden;
                            text-align: justify;
                            color:#747474;
                        }
                    }
                    .metas{
                        grid-area: metas;
                        display: flex;
                        flex-wrap: wrap;
                        color: gray;
                        margin-left:0.8em;
                        margin-top: -0.2em;
                        dt{
                            padding-right: 0.2em;
                            img{
                                width: 1em;
                                height: 1.6em;
                                margin-right: 0.5em;
                            }
                        }
                        dd{
                            padding-right: 1em;
                        }
                    }
                    .photo{
                        grid-area: photo;
                        background-color: aquamarine;
                        color: white;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
    }
    #query-panel{
        >section{
            height: 35%;
            @include pc{
                height: initial;
            }
            dl{
                >div{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    dt{
                        flex: 0 0 30%;
                        font-weight: bold;
                    }
                    dd{
                        flex: 1 0 70%;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 1em 0;
                        justify-content: center;
                        &.toggle{
                            display: flex;
                            justify-content: space-around;
                            &.this{
                                justify-content: space-between;
                                &:not(:last-child){
                                    margin-bottom: 0em;
                                }
                            }
                            input{
                                display: none;
                            }
                            label{
                                cursor: pointer;
                                border-radius: 55px;
                                padding: 0.7em 1em;
                                border: 1px solid gray;
                                margin: 1em 0;
                                &.active{
                                    color: white;
                                    background: var(--genreColor);
                                    border: 1px solid var(--genreColor);
                                }
                                img{

                                }
                                p{
                                    text-align: center;
                                }
                            }
                        }
                        &.range{
                            margin-bottom: 1.5em;
                            input{
                                width: 100%;
                            }
                            span{
                                display:inline-block;
                                position: relative;
                                padding: 7px 10px;
                                min-width: 120px;
                                max-width: 100%;
                                background: var(--genreColor);
                                margin-bottom: 2em;
                                text-align: center;
                                border-radius: 4px;
                                color: white;
                                margin: initial auto;
                                justify-content: center;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    top: 100%;
                                    left: 50%;
                                    margin-left: -15px;
                                    border: 15px solid transparent;
                                    border-top: 15px solid var(--genreColor);
                                }
                            }
    
                        }
                        &.checkbox{
                            flex-wrap: nowrap;
                            input{
                                display: none;
                            }
                            label{
                                text-align: center;
                                filter: grayscale(1);
                                cursor: pointer;
                                border-radius: 55px;
                                padding: 0.7em 1em;
                                img{
                                    filter: grayscale(1);
                                }
                                &.active{
                                    filter: grayscale(0);
                                    img{
                                        filter: hue-rotate(var(--genreColorRotate));
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#infoPanel{
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1em;
    border-radius:40px 40px 0 0;
    box-sizing:border-box;
    box-shadow: gray 0 0 5px;
    overflow: hidden;
    @include pc{
        width: 400px;
        height: 80%;
        bottom: 0;
        top: 0;
        right: 1em;
        left: initial;
        margin: auto;
        border-radius:40px;
    }
    .tabArea{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2em;
        button{
            border: none;
            background: none;
            padding: 1em 0;
            flex-basis: 50%;
            border-bottom: gray solid 2px;
            transition: all 0.5s ease-in-out;
            color:#8E8E8E;
            &.active{
                border-bottom: var(--genreColor) solid 2px;
                color:#747474;
            }
        }
    }
    .shisetsuArea{ 
        overflow-y: scroll;
        height: 35vh;
        @include pc{
            height: 82%;
        }
        dl{
            display: block;
            div{
                display:flex;
                align-items: center;
                justify-content: space-between;
                border-bottom:0.9px solid #EFEFEF;
                dt{
                    width: 25%;
                    font-weight: bolder;
                    line-height: 1.5;
                }
                dd{
                    flex-basis:calc(75% - 1em);
                    padding: 2em 0;
                    font-size: 0.8em;
                    &.toggle{
                        display: flex;
                        justify-content: space-around;
                        span{
                            padding: 0.5em 1em;
                            border-radius: 100px;
                            &.active{
                                background: var(--genreColor);
                                color: white;
                            }
                        }
                    }
                    &.range{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        input{
                            width: 100%;
                        }
                        span,p{
                            display:inline-block;
                            position: relative;
                            padding: 7px 10px;
                            min-width: 120px;
                            max-width: 50%;
                            background: var(--genreColor);
                            margin-bottom: 2em;
                            text-align: center;
                            border-radius: 4px;
                            color: white;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -15px;
                                border: 15px solid transparent;
                                border-top: 15px solid var(--genreColor);
                            }
                        }
                    }
                    &.icon{
                        display: flex;
                        justify-content: space-around;
                        div{
                            display: flex;
                            flex-direction: column;
                            img{
                                width: 2.5em;
                                height: auto;
                                filter: grayscale(1);
                            }
                            p{
                                text-align: center;
                            }
                            &.active{
                                img{
                                    filter: hue-rotate(var(--genreColorRotate));
                                }
                            }
                        }
                    }
                    &.text,
                    &.link{
                        line-height: 1.5;
                        text-align: justify;
                        word-break: break-word;
                        a{
                            text-decoration: none;
                            color: #535353;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    .photoArea{
        overflow-y: scroll;
        height: 35vh;
        @include pc{
            height: 82%;
        }
        .hasPhoto{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 1em;
            >div{
                border-radius: 5px;
                position: relative;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
                p{
                    background-color: rgba(0,0,0,0.5);
                    //background: var(--genreColoropa);
                    color: white;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 1em;
                    line-height: 1.5;
                    font-size: 0.8em;
                    width: 100%;
                    box-sizing: border-box;
                    border-radius: 5px;
                }
            }
        }
        .hasntPhoto{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            color: black;
            text-decoration: none;
        }
    }
}

#mainFooter{
    display: none;
}




#tutorialArea{
    #tutorial_01{
        z-index: 5000;
        width: 100%;
        height:100vh;
        background-color: #ffffffe8;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            max-width: 400px;
            width: 70%;
            align-items: center;
            text-align: center;

            img{
            }
            p{
                font-size: 1em;
                line-height: 1.5;
                margin-top: 2em;
                text-align: left;
            }
            button{
                border-radius: 55px;
                background-color:#3DBFFF;
                color: white;
                padding: 0.5em 2em;
                margin-top: 2em;
                border: none;
                font-size: 1.5em;
                text-align: center;
                transition: all 0.2s ease-in-out;
                &:hover{
                    background-color: #E8A02B;
                }
                
            }
        }
    }
    #tutorial_02,
    #tutorial_03,
    #tutorial_04{
        z-index: 5000;
        background-color: #3DBFFF;
        color: white;
        font-weight: bold;
        position: absolute;
        padding: 2em;
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 0 10px #869697;
        display: flex;
        align-items: center;
        justify-content: center;
        @include pc{
            max-height: 250px;
        }
        div{
            width: 100%;
            position: relative;
            button{
                position: absolute;
                top: 0em;
                right: 0em;
                background: none;
                border: none;
                margin: 0;
                padding: 0;
                img{
                    width: 1.3em;
                    height: auto;
                }
            }
            span.no{
                background-color: #E8A02B;
                width: 2em;
                height: 2em;
                line-height: 2;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                font-size: 1.7em;
                margin-bottom: 1em;
            }
            span.tukaikata{
                padding-left: 1em;
                display: inline-block;
                font-size: 1.2em;
            }
            p{
                line-height: 1.5;
                text-align: justify;
                img{
                    width: 1em;
                    height: auto;
                    filter: invert(1);
                }
            }
        }
    }
    #tutorial_02{
        width: 80%;
        top: 15%;
        left: 0;
        right: 0;
        margin: auto;
        @include pc{
            margin: auto;
            top: 0;
            bottom: 0;
            left: -45%;
            width: 300px;
        }
    }
    #tutorial_03{
        width: 80%;
        top: 20%;
        left: 0;
        margin: auto;
        right: 0;
        @include pc{
            margin: auto;
            top: 0;
            bottom: 0;
            left: -45%;
            width: 300px;
            max-height: 150px;
        }
    }
    #tutorial_04{
        width: 80%;
        top: 15%;
        left: 0;
        right: 0;
        margin: auto;
        @include pc{
            margin: auto;
            top: 0;
            bottom: 0;
            left: -45%;
            width: 300px;
        }
    }
    #tutorial_on{
        z-index: 5000;
        position: absolute;
        top: 1em;
        left: 1em;
        color: white;
        background-color: #E8A02B;
        padding: 0.2em 0.5em;
        border-radius: 100px;
        cursor: pointer;
        img{
            margin-right: 0.5em;
            width: 1em;
            height: auto;
            filter: invert(1);
        }
        @include pc{
            left: initial;
            right: 1em;
        }
    }
}

//Youtubeレスポンシブ
.frame-wrapper__video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .frame-wrapper__video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  