:root{
    --genreColor : #E8A02B;
}

body{
    color:#535353!important;
}

@mixin pc {
    @media (min-width: (700px)) {
        @content;
    }
} 

.starArea{
    display: flex;
    justify-content: space-around;
    img{
        width: 1em;
        height: auto;
    }
}

.gm-ui-hover-effect{
    transform: translateX(100vh);
}

#mainHeader{
    display: none;
}

#mainMain{
    max-width: 400px;
    @include pc{
        max-width: initial;
    }
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
}

#googlemap{
    display: block;
    width: 100%;
    height: 100%;
    .pinPopup{
        text-align: center;
        padding: 1em;
        line-height: 1.7;
        >img{
            display: inline-block;
            width: 50%;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            background-color: aqua;
            color: white;
            overflow: hidden;
        }
        h3{
            font-weight: bold;
            font-size: 1.5em;
            color: var(--genreColor);
            margin-bottom: 0.5em;
        }
        .genre{
            margin-bottom: -0.2em;
            margin-top: 1em;
        }
        .cost{
            padding-top: 0.6em;
        }
        .time{
            padding-bottom: 0.6em;
        }
        .starArea{
            justify-content: space-between;
            width: 60%;
            margin: auto auto;
            img{
                width: 1.3em;
            }
        }
        button{
            border: none;
            background: none;
            font-size: 1.2em;
            display: block;
            padding-top: 0.6em;
            width: 100%;
            margin-top: 2em;
        }
    }
}

#global-setting{
    position: absolute;
    top: 1em;
    right: 1em;
    border: none;
    padding: 0.5em;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    background: white;
    width: 3.5rem;
    @include pc{
        right: initial;
        left: 1em;
    }
    img{
        font-size: 2em;
    }
}
#global-setting-panel{
    width:100%;
    background-color:white;
    position:absolute;
    bottom:0;
    border-radius:40px 40px 0 0;
    padding:2em 1.3em 1em 1.3em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow: gray 0 0 5px;
    overflow: hidden;
    @include pc{
        width: 400px;
        height: 80%;
        bottom: 0;
        top: 0;
        right: 5%;
        margin: auto;
        align-items: center;
        border-radius:40px;
    }
    header {
        display: grid;
        padding-bottom: 0.8em;
        font-size: 2em;
        grid-template: 
            "back title check" auto
            /10% 1fr 10%;
        h2{
            grid-area: title;
            text-align: center;
            font-weight: bolder;
        }
        button{
            border: none;
            background: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5em;
        }
        .back{
            grid-area: back;
        }
        .check{
            grid-area: check;
        }
    }
    dl{
        text-align: center;
        margin: 2em auto;
        color: #535353;
        dt{
            margin-bottom: 1em;
            &.yyheight{
                line-height: 1.8;
            }
        }
        dd{
            &.range{
                margin-bottom: 1.5em;
                input{
                    width: 100%;
                }
                span{
                    display:inline-block;
                    position: relative;
                    padding: 7px 10px;
                    min-width: 120px;
                    max-width: 100%;
                    background: var(--genreColor);
                    margin-bottom: 0.5em;
                    color: white;
                    text-align: center;
                    border-radius: 4px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -15px;
                        border: 15px solid transparent;
                        border-top: 15px solid var(--genreColor);
                    }
                }
            }
            &.toggle{
                margin-top: 2em;
                display: flex;
                justify-content: space-around;
                input{
                    display: none;
                }
                label{
                    cursor: pointer;
                    border-radius: 55px;
                    padding: 0.7em 1em;
                    border: 1px solid gray;
                    margin: 1em 0;
                    &.checkin{
                        color: white;
                        background: var(--genreColor);
                    }
                }
            }
        }
    }
}

#searchPanel{
    width:100%;
    background-color:white;
    position:absolute;
    bottom:0;
    border-radius:40px 40px 0 0;
    padding:2em 1.3em 1em 1.3em;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow: gray 0 0 5px;
    overflow: hidden;
    @include pc{
        width: 400px;
        height: 80%;
        bottom: 0;
        top: 0;
        right: 5%;
        margin: auto;
        display: flex;
        align-items: center;
        border-radius:40px;
    }
    >section{
        transition: height 0.5s ease-in-out;
        height: 100%;
        header {
            display: grid;
            padding-bottom: 0.8em;
            font-size: 2em;
            grid-template: 
                "back title check" auto
                /10% 1fr 10%;
            h2{
                grid-area: title;
                text-align: center;
                font-weight: bolder;
            }
            button{
                border: none;
                background: none;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5em;
            }
            .back{
                grid-area: back;
            }
            .check{
                grid-area: check;
            }
        }
    }
    #genre-panel{
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li {
                flex-basis: calc(100% / 3 - 1em);
                margin-bottom: 1em;
                button {
                    width: 100%;
                    border: none;
                    background: none;
                    p{
                        margin-top: 1rem;
                        font-size: 1em;
                    }
                }
            }
        }
    }
    #list-panel{
        ul{
            height: 40vh;
            overflow-y: scroll;
            @include pc{
                height: 88%;
            }
            li{
                >div{
                    font-size: 0.8em;
                    line-height: 1.5;
                    padding: 1em 0;
                    border-bottom: 1px solid gray;
                    display: grid;
                    grid-template: 
                        "photo header" auto
                        "photo metas" auto
                        /30% 1fr;
                    grid-gap: 0.5em;
                    .header{
                        grid-area: header;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        margin-left:0.8em;
                        .genre{
                            background-color: var(--genreColor);
                            color: white;
                            padding: 0.2em 0.4em;
                            box-sizing: border-box;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            flex: 0 0 auto;
                            margin-right: 0.5em;
                            width: 6em;
                            justify-content: center;
                            height:4em;
                        }
                        h3{
                            font-size: 1.2em;
                            flex: 0 1 auto;
                            overflow: hidden;
                            text-align: justify;
                        }
                    }
                    .metas{
                        grid-area: metas;
                        display: flex;
                        flex-wrap: wrap;
                        color: gray;
                        margin-left:0.8em;
                        dt{
                            padding-right: 0.2em;
                        }
                        dd{
                            padding-right: 1em;
                        }
                    }
                    .photo{
                        grid-area: photo;
                        background-color: aquamarine;
                        color: white;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
    }
    #query-panel{
        >section{
            dl{
                >div{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    dt{
                        flex: 0 0 30%;
                        font-weight: bold;
                    }
                    dd{
                        flex: 1 0 70%;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 1em 0;
                        &.toggle{
                            display: flex;
                            justify-content: space-around;
                            input{
                                display: none;
                            }
                            label{
                                cursor: pointer;
                                border-radius: 55px;
                                padding: 0.7em 1em;
                                border: 1px solid gray;
                                margin: 1em 0;
                                &:not(:last-child){
                                    margin-bottom: 0.8em;
                                }
                                &.checkin{
                                    color: white;
                                    background: var(--genreColor);
                                    border: 1px solid var(--genreColor);
                                }
                            }
                        }
                        &.range{
                            margin-bottom: 1.5em;
                            input{
                                width: 100%;
                            }
                            span{
                                display:inline-block;
                                position: relative;
                                padding: 7px 10px;
                                min-width: 120px;
                                max-width: 100%;
                                background: var(--genreColor);
                                margin-bottom: 0.5em;
                                text-align: center;
                                border-radius: 4px;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    top: 100%;
                                    left: 50%;
                                    margin-left: -15px;
                                    border: 15px solid transparent;
                                    border-top: 15px solid var(--genreColor);
                                }
                            }
    
                        }
                        &.checkbox{
                            input{
                                display: none;
                            }
                            label{
                                filter: grayscale(1);
                                cursor: pointer;
                                border-radius: 55px;
                                padding: 0.7em 1em;
                                &.checkin{
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#infoPanel{
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;
    padding: 1em;
    border-radius:40px 40px 0 0;
    box-sizing:border-box;
    box-shadow: gray 0 0 5px;
    overflow: hidden;
    @include pc{
        width: 400px;
        height: 80%;
        bottom: 0;
        top: 0;
        right: 1em;
        left: initial;
        margin: auto;
        border-radius:40px;
    }
    .tabArea{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2em;
        button{
            border: none;
            background: none;
            padding: 1em 0;
            flex-basis: 50%;
            border-bottom: gray solid 2px;
            transition: all 0.5s ease-in-out;
            &.active{
                border-bottom: var(--genreColor) solid 2px;
            }
        }
    }
    .shisetsuArea{ 
        overflow-y: scroll;
        dl{
            display: block;
            div{
                display:flex;
                align-items: center;
                justify-content: space-between;
                border-bottom:0.9px solid #EFEFEF;
                dt{
                    width: 25%;
                    font-weight: bolder;
                }
                dd{
                    flex-basis:calc(75% - 1em);
                    padding: 2em 0;
                    display:flex;
                    justify-content: space-around;
                    font-size: 0.8em;
                    align-items:center;
                    &.tokusyu{
                        div{
                        
                        &.checkin{
                            flex-basis:calc(75% - 1em);
                            padding: 2em 0;
                            display:flex;
                            justify-content: space-around;
                            font-size: 0.8em;
                            align-items:center;  
                        }
                        }
                    }
                    span{
                        border-radius: 55px;
                        padding: 0.7em 1em;
                        &.checkin{
                            color: white;
                            background: var(--genreColor);
                        }
                    }
                }
            }
        }
    }
    .photoArea{
        overflow-y: scroll;
        .hasPhoto{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 1em;
            >div{
                position: relative;
                img{
                    width: 100%;
                    height: auto;
                }
                p{
                    background-color: rgba(0,0,0,0.5);
                    color: white;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 1em;
                    line-height: 1.5;
                    font-size: 0.8em;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
        .hasntPhoto{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            color: black;
            text-decoration: none;
        }
    }
}

#mainFooter{
    display: none;
}