@charset "utf-8";

/*------------------------commom-------------------------*/

body{
	background: #FFFFFF;
	color: #000000;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}

ul li{
	display: inline-block;
}

/*----------------------------header---------------------------*/

header{
	margin: 20px;
	width: calc(100% - 40px);
	font-size: 24px;
}

header .top .title_name{
	font-weight: bold;
}

/*----------------------------main---------------------------*/

main{
	width: calc(100% - 40px);
	margin: 20px;
	text-align: center;
}

main section {
	width: 100%;
	text-align: center;
	box-shadow:0px 0px 5px 1px rgba(0,0,0,0.15);
	font-size: 16px;
	padding: 20px 0;
	margin: 20px 0;
}

main section .shop_icon{
	width: 120px;
	height: 120px;
}

main section h1{
	font-size: 20px;
	text-align: center;
	margin: 10px 0;
}

main section h2{
	font-size: 16px;
	text-align: center;
	margin: 10px 0;
}

main section p{
	margin: 10px 0;
}

main section .cost{
	text-align: center;
}

main section .comment{
	text-align: center;
	font-size: 15px;
}

main section .point{
	text-align: center;
}

main section .info{
	font-size: 14px;
	margin: 10px 30px;
	line-height: 26px;
}

main section a{
	font-size: 14px;
	color: #8DA702;
	text-decoration: none;
}

main section .option{
	text-align: center;
}

main section ul li{
	width: 40%;
	text-align: center;
}


/*
main section .shop_info li{
	width: calc(90% / 6);
	height: 60px;
	justify-content: space-between;
}

main section .shop_info_p{
	width: 100%;
	font-size: 16px;
	margin: 10px 0;
}

main section .shop{
	text-align: center;
}

main section .shop li{
	width: 150px;
}

main section hr{
	color: #000000;
}

main section table{
	width: 100%;
}

main section table tr{
	height: 30px;
}

main section table tr .table_left{
	width: 40%;
}

main section table tr .table_right{
	width: 60%;
}

*/


/*----------------------------clearfix---------------------------*/

.clearfix {
    display: inline-block;
    min-height: 1%;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-Mac */

.clearfix:after {
	clear: both;
	display: block;
	height: 0;
	line-height: 0;
	content: "";
	visibility: hidden;
}
