/* Scss Document */

@charset "utf-8";

/*------------------------commom-------------------------*/

body { 
  background: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  li {
    display: inline-block;
  }
}

/*----------------------------main---------------------------*/

main {
  width: calc(100% - 40px);
  margin: 20px;
  text-align: center;
  section {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    padding: 20px 0;
    margin: 20px 0;
    background: #FFFFFF;
    &.section_fix {
      padding: 0;
      margin: 60px 40px 60px;
      width: calc(100% - 80px);
      border-radius: 50px;
      position: relative;
      background: #FFFFFF;
      z-index: 1;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        border: 15px solid transparent;
        z-index: -1;
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
        bottom: -10px;
        transform: translateX(-50%) rotate(45deg) skew(20deg, 20deg);
        background: #FFFFFF;
      }
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        border: 15px solid transparent;
        z-index: -1;
        width: 20px;
        height: 20px;
        transform: translateX(-50%) rotate(45deg) skew(20deg, 20deg);
        background: #FFFFFF;
        bottom: -10px;
      }
      div.section_zindex {
        width: 100%;
        padding: 20px 0;
        background: #FFFFFF;
        z-index: 2;
        text-align: center;
        border-radius: 50px;
      }
    }
    div {
      .shop_icon {
        width: 120px;
        height: 120px;
      }
      h1 {
        font-size: 20px;
        text-align: center;
        margin: 10px 0;
      }
      h2 {
        font-size: 16px;
        text-align: center;
        margin: 10px 0;
      }
      p {
        margin: 10px 0;
      }
      .cost {
        text-align: center;
      }
      .comment {
        text-align: center;
        font-size: 15px;
      }
      .point {
        text-align: center;
      }
      a {
        font-size: 14px;
        color: #8DA702;
        text-decoration: none;
      }
      .close {
        text-align: center;
      }
    }
    .option {
      text-align: center;
    }
    ul li {
      width: 40%;
      text-align: center;
    }
    .clearfix {
      display: inline-block;
      min-height: 1%;
    }
  }
}

/* Hides from IE-mac \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
  &:after {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    content: "";
    visibility: hidden;
  }
}

/* End hide from IE-Mac */