<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>beta</title>
<meta name="viewport" content="width=device-width">
<!--
	https://www.conifer.jp/csstest/css-input-bubbles.html
	https://framework7.io/docs/range-slider.html
-->
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<style>

</style>
<!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
<script type="text/javascript" src="js/vue.js"></script>


</head>

<body>
<!-------------------------------main------------------------------>
<main>
	<section class="section_fix">
		<div class="section_zindex">
			<img src="images/x1.png" alt="404" class="shop_icon">
			<h2>バッティングセンター</h2>
			<h1>ATHLECITTA'蒲田</h1>
			<p class="cost">￥600〜￥2000</p>
			<p class="comment">総合評価</p>
			<p class="point">★★★☆☆</p>
			<ul class="close">
				<li>とじる</li>
				<li>もっとみる</li>
			</ul>
		</div>
	</section>
	<section id="detail">
		<ul class="option">
			<li class="facility_info" v-on:click='select = "facility_info_content"'>施設情報</li>
			<li class="gallery" v-on:click='select = "gallery_content"'>写真</li>
		</ul>
		<div class="facility_info_content" v-if='select == "facility_info_content"'>
			<form>
				<dl class="facility_info_dl">
					<dt>ひとこと</dt>
					<dd>思いっきり楽しめて、安らげて、さらにフレッシュ！充実のアミューズメント&amp;リラクゼーションボーリングやカラオケ、バッティングなど色々！</dd>
					<hr>
					<dt>店の広さ</dt>
					<dd style="margin-top: 10px;"><input type="range" name="space" min="0" max="4" step="1" value="2" list="tickmarks" disabled></dd>
					<datalist id="tickmarks">
						<option value="0" label="0">
						<option value="1">
						<option value="2">
						<option value="3"label="3">
						<option value="4">
					  </datalist>
					<hr>
					<dt>注文形式</dt>
					<dd>
						<input type="radio" name="orderstyle" value="1">
						<input type="radio" name="orderstyle" value="2">
					</dd>
					<hr>
					<dt>支払形式</dt>
					<dd>
						<input type="checkbox" name="payment" value="0">
						<input type="checkbox" name="payment" value="1">
					</dd>
					<hr>
					<dt>店内段差</dt>
					<dd><input type="range" name="step" min="0" max="5" step="1" value="3"></dd>
					<hr>
					<dt>店員さん</dt>
					<dd>
						<input type="radio" name="smile" value="0">
						<input type="radio" name="smile" value="1">
						<input type="radio" name="smile" value="2">
					</dd>
					<hr>
					<dt>道具</dt>
					<dd>
						<input type="checkbox" name="tool" value="0">
						<input type="checkbox" name="tool" value="1">
						<input type="checkbox" name="tool" value="2">
					</dd>
					<hr>
					<dt>椅子</dt>
					<dd>
						<input type="radio" name="chair" value="0">
						<input type="radio" name="chair" value="1">
					</dd>
					<hr>
					<dt>公式HP</dt>
					<dd><a href="#" target="_blank">#</a></dd>
				</dl>
			</form>
			
		</div>
		<div class="gallery_content" v-if='select == "gallery_content"'>
			<ul class="gallery_photo_ul">
				<li><img src="images/x2.png" alt="404" class="gallery_photo"><p class="photo_info">入り口の段差</p></li>
				<li><img src="images/x2.png" alt="404" class="gallery_photo"><p class="photo_info">入り口の段差</p></li>
				<li><img src="images/x2.png" alt="404" class="gallery_photo"><p class="photo_info">入り口の段差</p></li>
				<li><img src="images/x2.png" alt="404" class="gallery_photo"><p class="photo_info">入り口の段差</p></li>
				<li><img src="images/x2.png" alt="404" class="gallery_photo"><p class="photo_info">入り口の段差</p></li>
				<li><img src="images/x2.png" alt="404" class="gallery_photo"><p class="photo_info">入り口の段差</p></li>
			</ul>
		</div>
		
	</section>

</main>
<script>
var option = new Vue({
	el:'#detail',
	data:{
	select:'facility_info_content'
	}
})
</script>
</body>
</html>
